
.Header-bar__sm {
    width:100%;
    background-color: var(--gray);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin-top:20px;
}

.Header-bar__sm i {
    color:rgba(0,0,0,0.6);
}

.Header-bar__sm span {
    margin-left : 5px;
    margin-right:10px;
}

